<div class="container-fluid well">
  <form id="edit-tour-form">
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>Tour Info</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 form-group">
        <label>Description</label>
        <div>{{tour.description}}</div>
      </div>
      <div class="col-sm-2 form-group">
        <label>Total Price</label>
        <div>{{tour.price}}</div>
      </div>
      <div class="col-sm-2 form-group">
        <label>Max Participants</label>
        <div>{{tour.maxUser}}</div>
      </div>
    </div>
    <div class="row">
      <label class="control-label">Tour Places</label>
      <div class="row" *ngFor="let tourPoint of tour.tourPoints; let i = index">
        <div class="col-md-4 col-lg-3 form-group">
          <div> {{tourPoint.city}}</div>
          <div> {{tourPoint.country}}</div>

        </div>
        <div class="col-md-2 col-lg-2 form-group">
          <div>{{tourPoint.startDate}}</div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 form-group">
        <div>
          <button type="button" class="btn btn-primary" (click)="navigateBack($event)">
              Back
            </button>
        </div>
      </div>
    </div>
  </form>
  <app-publish-comment></app-publish-comment>
  <div class="row">
    <div class="col-xs-6">
      <h3>Comment section</h3>
      <section class="comments">
        <article *ngFor="let comment of tour.comments" class="comment">
          <a class="comment-img" href="#non">
            <img src="{{comment.userAvatar}}" alt="avatar" width="50" height="50">
          </a>
          <div class="comment-body">
            <div class="text">
              <p>{{comment.content}}</p>
            </div>
            <p class="attribution">by <a href="#non">{{comment.author}}</a></p>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>