<div class="container-fluid well">
  <form id="edit-tour-form">
    <div class="row">
      <div class="col-xs-12 form-group">
        <label>Tour Info</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 form-group">
        <label class="control-label" for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="tour.description" />
      </div>
      <div class="col-sm-2 form-group">
        <label class="control-label" for="totalPrice">Total Price</label>
        <input type="number" class="form-control" id="totalPrice" name="totalPrice" [(ngModel)]="tour.totalPrice" />
      </div>
      <div class="col-sm-2 form-group">
        <label class="control-label" for="maxParticipants">Max Participants</label>
        <input type="number" class="form-control" id="maxParticipants" name="maxParticipants" [(ngModel)]="tour.maxParticipants"
        />
      </div>
    </div>
    <div class="row">
      <label class="control-label">Tour Places</label>
      <div class="row" *ngFor="let tourPoint of tour.tourPoints; let i = index">
        <div class="col-md-4 col-lg-3 form-group">
          <select class="form-control" name="place-{{i}}" [(ngModel)]="tourPoint.city">
              <option *ngFor="let p of places" [value]="p.city">{{p.city + "(" + p.country+")"}}</option>
          </select>
        </div>
        <div class="col-md-2 col-lg-2 form-group">
          <input type="date" class="form-control" name="from-{{i}}" [(ngModel)]="tourPoint.from" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 form-group">
          <div>
            <button type="button" class="btn btn-primary" (click)="addNext()">
              Add next...
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--
        <div class="col-md-6 col-lg-3 form-group"  [class.has-error]="!patientForm.errors.time.isValid">
          <label class="control-label" for="time">Time</label>
          <input type="time" class="form-control" id="time"
            value={{patientForm.patient.time}}
            (input)="onChange($event)"/>
          <span *ngIf="!patientForm.errors.time.isValid" class="help-block">{{patientForm.errors.time.errorMessage}}</span>
        </div>
        <div class="row-md">
          <div class="col-md-6 col-lg-3 form-group"  [class.has-error]="!patientForm.errors.specialty.isValid">
            <label class="control-label" for="specialty">Specialty</label>
            <select id="specialty" class="form-control"
              value={{patientForm.patient.specialty}}
              (change)="onChange($event)">
              <option *ngFor="let s of specialties" [value]="s">{{s}}</option>
            </select>
            <span *ngIf="!patientForm.errors.specialty.isValid" class="help-block">{{patientForm.errors.specialty.errorMessage}}</span>
          </div>
          <div class="col-md-6 col-lg-3 form-group"  [class.has-error]="!patientForm.errors.doctor.isValid">
            <label class="control-label" for="doctor">Doctor</label>
            <select id="doctor" class="form-control"
              value={{patientForm.patient.doctor}}
              (change)="onChange($event)">
              <option *ngFor="let d of doctors" [value]="d">{{d}}</option>
            </select>
            <span *ngIf="!patientForm.errors.doctor.isValid" class="help-block">{{patientForm.errors.doctor.errorMessage}}</span>
          </div>
        </div>
      </div>
-->
    <div class="row">
      <div class="col-xs-2 form-group">
        <div>
          <button type="button" class="btn btn-primary" (click)="navigateBack($event)">
              Back
            </button>
        </div>
      </div>
      <div class="col-xs-offset-8 col-xs-2 form-group">
        <div class="pull-right">
          <button type="button" class="btn btn-success" (click)="onSave($event)">
              Save
            </button>
        </div>
      </div>
    </div>
  </form>
  <app-publish-comment></app-publish-comment>
  <div class="row">
    <div class="col-xs-6">
      <h3>Comment section</h3>
      <section class="comments">
        <article *ngFor="let comment of tour.comments" class="comment">
          <a class="comment-img" href="#non">
            <img src="{{comment.userAvatar}}" alt="avatar" width="50" height="50">
          </a>
          <div class="comment-body">
            <div class="text">
              <p>{{comment.content}}</p>
            </div>
            <p class="attribution">by <a href="#non">{{comment.author}}</a></p>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
